.user-selection-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: relative;
  
    .bg-only {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  
    .user-selection-content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
      height: 89%;
      width: 382px;
      background: rgba(255, 255, 255, 0.426); /* Slightly transparent background */
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
  
    h1 {
      font-size: 26px;
      margin-bottom: 10px;
      color: #000;
      text-align: center;
    }
  
    .user-selection-form-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
   
    .user-selection-button {
      background-color: #59000F;
      color: white;
      padding: 15px;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #a32a2a;
      }
    }
  
    .back-link-container {
      margin-top: 10px;
    }
  
    .back-link {
      font-size: 16px;
      color: #59000F;
      text-decoration: underline;
      cursor: pointer;
      
      &:hover {
        color: #a32a2a;
      }
    }
  }
  