
// Main container for the user table
.paper {
  padding: 16px;
  background-color: #f5f5f5; // Light background for the paper component
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
 
// DataGrid styling
.data-grid {
  .MuiDataGrid-root {
    border: none;
    border-radius: 8px;

    .MuiDataGrid-cell {
      padding: 12px; // Add padding to cells
      font-size: 14px;
      color: #333; // Text color

      &.status-cell {
        &.Pending {
          background-color: #fff3cd; // Yellow for pending status
        }
        &.Approved {
          background-color: #d4edda; // Green for approved status
        }
        &.Declined {
          background-color: #f8d7da; // Red for declined status
        }
      }
    }
  }
}

// Export controls section
.export-controls {
  display: flex;
  justify-content: flex-start;
  padding: 10px;

  .search-user{
    width: 0px;
    padding: 4px 8px;
    height: 30px;
    font-size: 14px;
    border-radius: 4px;
    
  }

  .export-user-button {
    color: black;
    margin-left: 230px;
    margin-top: 5px;
    background-color: #d9d9d9;
    width: 100px;
    padding: 7px;

    &:hover {
      background-color: #b4b3b3; // Darker blue on hover
    }
  }
}

// Dialog styling
.dialog-title {
  font-weight: bold;
  color: #333; // Title color for dialogs
}

.dialog-content {
  margin-bottom: 12px;
}

// Action buttons in the data grid
.actions-container {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;

  .view-userlist-button {
    margin-right: 8px; // Space between buttons
    background-color: none; // Darker green on hover

    &:hover {
      background-color: white; // Darker green on hover
      
    }

  }

  .approve-button {
    background-color: #28a745; // Green for approve button
    color: white;

    &:hover {
      background-color: #218838; // Darker green on hover
    }
  }

  .decline-button {
    margin-left: 10px;
    background-color: #dc3545; // Red for decline button
    color: white;

    &:hover {
      background-color: #c82333; // Darker red on hover
    }
  }
}

// Checkbox styles
.checkbox-label {
  margin-right: 8px;
}

// Responsive styles for smaller screens
@media (max-width: 768px) {
  .data-grid {
    font-size: 12px; // Smaller font on smaller screens
  }

  .export-controls {
    flex-direction: column; // Stack export buttons
    align-items: flex-start;

    .export-button {
      margin: 4px 0; // Vertical margin between buttons
    }
  }
}
