.singleItem {
  flex: 6;
  cursor: auto;
}

.deleteConfirmation {
  position: fixed;
  top: 34.5%;
  left: 85.3%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 350px;
  border-radius: 10px;

  p {
    padding: 10px;
  }

  button {
    margin-inline-start: 70px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.singleItemContainer {
  display: flex;
  flex-direction: column;
}

.itemShow {
  flex: 1;
  padding: 20px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 10px;

  .itemInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Ensure that elements wrap on smaller screens */
  }

  .itemImage {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
  }

  .itemDetailsTop {
    display: flex;
    flex-direction: column;

    h4 {
      font-size: 15px;
      color: #000000;
    }

    p {
      margin: 5px 0;
      font-size: 30px;
      color: #000000;
      font-weight: bold;
    }
  }

  .barcodeImage {
    max-width: 200px;
    height: auto;
    margin-top: 15px;
  }

  .itemDetailsBottom {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    p {
      margin: 0;
      font-size: 16px;
      display: flex;
      align-items: center;
      color: #000000;

      strong {
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    .itemDetailsBottom {
      grid-template-columns: repeat(2, 1fr); /* Reduce to two columns on smaller screens */
    }
  }

  @media (max-width: 480px) {
    .itemDetailsBottom {
      grid-template-columns: 1fr; /* Single column layout for very small screens */
    }
  }
}

.bottom2 {
  padding: 20px;
  margin: 10px 20px;
  display: flex;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 10px;
  flex-direction: column; /* Make it stack vertically */

  .descrip, .pm {
    padding: 20px;

    p {
      margin: 0;
      font-size: 16px;
      display: flex;
      align-items: start;
      text-align: justify;
      margin-bottom: 15px;
      color: #000000;

      strong {
        color: rgb(0, 0, 0);
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Make the buttons wrap on smaller screens */

  .buttonGroup {
    display: flex;

    .itemEditButton, .itemDeleteButton {
      width: 80px;
      border: none;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      font-size: 16px;
      transition: background-color 0.3s ease;
      margin-top: 10px;
    }

    .itemEditButton {
      background-color: gray;

      &:hover {
        background-color: darkgray;
      }
    }

    .itemDeleteButton {
      background-color: rgb(218, 22, 22);
      margin-left: 10px;

      &:hover {
        background-color: darkred;
      }
    }
  }

  .itemTitle {
    font-weight: bold;
    font-size: 24px;
    color: #59000f;
  }
}

/* Drawer Styles */
.drawerContent {
  padding: 20px;

  .drawerHeaderItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .editItemm{
      font-size: 25px;
      margin-bottom: 5px;
    }

    .closeButton {
      background: transparent;
      border: 2px solid black;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      cursor: pointer;
      color: black;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

      &:hover {
        background-color: gray;
        color: white;
        border-color: gray;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
