.user-welcome-container {
  display: flex;
  justify-content: flex-start; /* Align the content to the left */
  align-items: center;
  height: 100vh;
  position: relative;
  padding-left: 50px; /* Add some padding from the left side */

  .bg-only {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
  }

  .user-welcome-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    padding: 40px;
    height: 89.1%;
    margin-left: -50px;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.426);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .user-welcome2-container h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
  }

  .user-welcome2-container h3 {
    font-size: 14px;
    margin-bottom: 20px;
    color: #000;
    text-align: center; 
  }

  .user-welcome-form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .user-welcome-button {
    background-color: #59000f;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #a32a2a;
    }
  }

  .user-welcome-guide-container {
    margin-top: 20px;
    color: #59000f;
  }

  .user-welcome-about-us{
      font-size: 15px;
      font-weight: bold;
      color: #59000f;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
  
      &:hover {
        text-decoration: underline;
      }
  }
}
