.newUserReg {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(103, 82, 82, 0.47);
    padding: 20px;
    background-color: #eec50fd9;
    justify-content: center;   // Centers content horizontally
    border-radius: 8px;
    max-width: 350px;
    margin: 90px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    .bg-only {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1; /* Background behind the content */
      }
  
    .newRegUserTitle {
      font-weight: bold;
      color: #59000f;
      margin-bottom: 15px;
      font-size: 1.5rem;
    }
  
    .newRegUserForm { 
      display: flex;
      flex-direction: column;
      width: 300px;
  
      .newRegUserItem {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
  
        label {
          font-weight: normal;
          margin-bottom: 5px;
          color: rgb(0, 0, 0);
        }
  
        input, select {
          padding: 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }

      .newRegUserNumber{
        label {
          font-weight: normal;
          margin-bottom: 5px;
          color: rgb(0, 0, 0);
        }

        span{
          background-color: white;
          padding: 6px;
          border-radius: 4px;
          padding-bottom: 8.75px;
          padding-top: 7.5px;
          font-size: 14px;
          margin-right: 1px;
        }
  
        input, select {
          padding: 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          width: 243px;
          margin-left: 2px;
          margin-bottom: 10px;
        }
      }
  
      .newRegSubmitButton {
        padding: 10px;
        background-color: #59000F;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
  
        &:hover {
          background-color:  #811414;
        }
      }
  
      .newRegBackButton {
        background: none;
        border: none;
        color: rgb(0, 0, 0);
        text-decoration: none;
        cursor: pointer;
        margin-top: 10px;
        font-size: 1rem;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .newRegmessage {
      margin-bottom: 10px;
      color: red;
    }
  }
  