.dashboard{
   display: flex;
   height: 100vh;
   
   .dashboard-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; /* Background behind the content */
    }

   .dashboardContainer{
        flex: 6;
        flex-grow: 1; /* The content takes up remaining space */
        overflow-x: hidden; /* To prevent unwanted horizontal scroll */
      
         .dashboardContent { 
            overflow-y: auto;
            height: calc(100vh - 60px); // Full height minus navbar height
         }

        .widgets{
         display: flex;
         padding: 20px;
         gap: 20px;
         margin-top: -10px; 
        }
      
         .listContainer{
         box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
         padding: 20px;
         margin: 20px;
         margin-top: 5px;
         border-radius: 10px;

            .listTitle{
               font-weight: bold; 
               color: #59000f;
               margin-bottom: 15px;
            }
         }

   } 
}
