.item{
    display: flex;
 
    .itemContainer{
        flex: 6;
        flex-grow: 1; /* The content takes up remaining space */
        overflow-x: hidden; /* To prevent unwanted horizontal scroll */

        .Content {
            overflow-y: auto;
            height: calc(100vh - 60px); // Full height minus navbar height
            
        }
    

        .itemDetails{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        margin: 20px;
        
        }

        .bottom{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;
            box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            border-radius: 10px;

            .itemTitlee{
                font-weight: bold;
                color: #59000f;
                font-size: 16px;
                text-align: start; 
            }
            
        }

    }
}  
