.item-return-scan {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
    background-color: #000000c9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: auto;
    font-family: Arial, sans-serif;

    .bulk-input-container{
      background-color: #59000fc9;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 15px;
        color: white;

        .input-quantity{
          margin-top: 5px;
          margin-right: 10px;
          width: 55px; /* Increase the width */
          height: 25px; /* Increase the height */
          font-size: 16px; /* Increase the font size */
          padding: 5px; /* Add some padding inside the input */
          border-radius: 4px; /* Optionally, add rounded corners */
          border: 1px solid #ccc; /* Style the border */
        }

        .input-quantity-button{
          height: 38px;
          margin-top: 4px;
          font-size: 13px;
          padding: 6.9px;
          padding-top: 8px;
          border-radius: 4px;
        }
    }
  
    .bg-only { 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1; /* Background behind the content */
      }

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #ffffff;
    }
  
    p {
      font-size: 16px;
      color: #ffffff;
      margin: 5px 0;
  
      strong {
        color: #ffffff;
      }
    }

    label{
      font-size: 16px;
      color: #ffffff;
      margin: 5px 0;
      font-weight: bold;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 15px 0;
  
      li {
        background-color: #59000fc9;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 10px;
  
        p {
          margin: 5px 0;
  
          strong {
            color: #ffffff;
          }
        }
      }
      .return-condition{
        margin-left: 5px;
      }
    }
  
    .error {
      color: #d9534f;
      margin-top: 10px;
      font-weight: bold;
    }
  
    .success {
      color: #5cb85c;
      margin-top: 10px;
      font-weight: bold;
    }
  
    input[type="text"] {
      width: calc(100% - 100px);
      padding: 10px;
      font-size: 16px;
      margin-right: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      outline: none;
      box-sizing: border-box;
  
      &:focus {
        border-color: #66afe9;
        box-shadow: 0 0 8px #ce0022;
      }
    }
  
    button {
      padding: 10px 15px;
      font-size: 16px;
      color: #000000;
      background-color: #f5d029;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #f3c600;
      }
  
      &:disabled {
        background-color: #999;
        cursor: not-allowed;
      }
    }

    .custom-condition-container{
      input{
        margin-top: 5px;
      }
    }

    .conditionReturn{
      padding: 1.5px;
      border-radius: 4px;
    }
  
    .complete-return-btn {
      background-color: #5cb85c;
      margin-top: 20px;
      width: 150px; /* Set a width for the button */
      margin-left: auto;
      margin-right: auto;
      padding: 10px 20px; /* Optional: Add padding for a better button appearance */
      display: flex;
      justify-content: center;    
  
      &:hover {
        background-color: #3c903c;
      }
    }

    .returnScanBackButton {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      margin-top: 20px;
      font-size: 14px;
      width: 100%;
      text-align: center;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  