.itemTable {
  height: 100vh;
  
  .table-cell-image, .table-cell-barcode {
    display: flex;
    justify-content: center;  // Center the content horizontally
    align-items: center;      // Center the content vertically
    height: 100%;             // Ensure the wrapper takes up the full cell height
  }

  .item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;       // Optional: to round the edges of images
  }

  .item-barcode {
    width: 120px;              // Fixed width for barcode
    height: 120px;             // Fixed height for barcode
    object-fit: contain;      // Ensures the barcode doesn't get distorted
  }

  
    .export-controls {
      display: flex;
      justify-content: flex-start;  // Align items to the left
      align-items: center;
      gap: 1px; // Adds space between dropdown and button
    }
  
    .export-select, .export-item-button {
      width: 150px;  // Set both to the same fixed width
      
    }
  
    .export-select {
      width: 150px;  // Ensure the select menu 1%has enough width
      
    }

    .viewItem{
      &:hover{
        background-color: white;
      }
    }
  
    .export-item-button {
      width: 100px;  // Ensure the button matches the select menu size
      color: black;
      background-color: #d9d9d9;
      

      &:hover {
        background-color: #b4b3b3; // Darker blue on hover
      }
      
    }
  }
  
 
