.borrow-success {
  text-align: center;
  background-color: #3d000be4; // Red background with transparency
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #fff; // White text color
  max-width: 500px;
  margin: 90px auto;
  justify-content: center;

  .bg-only {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 15px;
  }

  p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 1rem;
    
  }

  ul {
    list-style: none;
    padding: 0;
    color: #fff;
    font-size: 1.1rem;
    
    li {
      margin: 0.5rem 0;
      strong {
        color: #ffcc00;
      }
    }
  }

  /* Main Card Design */
  .borrow-success__card {
    background-color: rgba(128, 0, 0, 0.9); /* Dark maroon background */
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    max-width: 600px;
    width: 90%;
  }

  /* Button Styling */
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f5d029;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;


    &:hover {
      background-color: #c7a200;
    }
  }
}
