.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #1b2021;
  background-color: #ffffff;
  border-bottom: 2px solid #59000f;

  .logo {
    padding: 10px; /* Adjust padding to fit your design */
    
    .logo-navbar {
      margin-top: 1px;
      margin-left: 7px;
      height: 150px; /* Adjust this value as needed */
      width: 150px;  /* Keep aspect ratio intact */
      object-fit: contain; /* Ensure the image doesn't stretch */
    }
  }
  
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    

    .items {
      display: flex;
      align-items: center;
      margin-left: auto; /* This will push the items to the right */
      
      .nav-calendar{
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative; /* Ensures counter and dropdown are positioned correctly */
        cursor: pointer;
        color: #59000f;
        font-weight: bold;
        gap: 10px;

      }
      .nav-item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative; /* Ensures counter and dropdown are positioned correctly */
        cursor: pointer;
        color: #59000f;
        
        span{
          margin-left: 5px;
          font-weight: bold;
        
        }

        .icon {
          font-size: 25px;
          color: #59000f;
          position: relative; /* Relative positioning for counter */
        }

        .counter {
          width: 18px;  /* Adjusted size for better visibility */
          height: 18px;
          background-color: #bf211e;
          border-radius: 50%;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px; /* Properly adjusted to overlap the top-right corner of the icon */
          right: -8px;
          z-index: 1000; /* Ensures it stays above other elements */
        }

        .notif-dropdown {
          position: absolute;
          top: 48px;
          right: 0;
          background-color: white;
          border: 2px solid #59000f;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          border-radius: 6px;
          width: 300px;
          padding: 15px;
          z-index: 100;
          max-height: 300px;
          overflow-y: auto;
          

          .notif-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #f0f0f0;
            font-size: 12px;
            color: #000000;
            text-decoration: none;

            p{
              font-size: 16px;
              color: #000000;
            }

            &:last-child {
              border-bottom: none;
              
            }

            &:hover {
              background-color: #ebe9e9;
            }

            .notification-date {
              font-size: 12px;
              color: #888;
            }
          }

          .mark-all-read {
            color: #e09b09;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
            cursor: pointer;
          }
        }
      }

      .calendar-dropdown {
        position: absolute;
        top: 46px;
        right: 0;
        background-color: #fdfdfd;
        border: 2px solid #59000f;
        border-radius: 8px;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        padding: 15px;
        z-index: 100;
      }

      .custom-calendar {
        width: 100%;
        border: none;
        font-family: 'Roboto', sans-serif;
        background-color: transparent;

        .react-calendar__navigation {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
        }

        .react-calendar__tile--active {
          background-color: #4caf50 !important;
          color: white !important;
          border-radius: 6px;
        }

        .react-calendar__tile {
          padding: 10px;
          text-align: center;
          transition: background-color 0.2s ease;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }

      .profile-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}
