.stocklist-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;  // Adjust the gap to reduce space between tables (previously 20px)
    padding: 20px;
    max-width: 100%;  // Ensure the container doesn't exceed 100% of the viewport
  }

  .lowstocklist-column, .outstocklist-column  {
    max-width: 680px;  // Limit the maximum width of the tables to prevent horizontal scrolling
    
  }

  .lowstocklist-column {
    width: 100%;
  }

  .outstocklist-column {
    width: 100%;
  }
  
  .table-wrapper {
    width: 100%;  // Ensure the DataGrid fits its parent container
    overflow-x: auto;  // Allow horizontal scrolling within the table only
  }
  
  .paper {
    padding: 20px;
    background-color: #fff;
    
  }
  
  h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #59000f;
  }
  
  p {
    font-size: 1.2rem;
    color: #888;
  }

  .view-stock{

    &:hover{
      background-color: white;
    }
  }
  