.new-item-button, .add-items-button{
        background-color: #f5d029;
        color: black;
        font-size: 16px;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    .new-item-button:hover {
    background-color: #e3ba03;
    color: black;
      
}

.new-back-button{
    background-color: #59000f;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    
}

.new-back-button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #59000f;
  
}