.table {
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Pending {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
  
      &.Completed {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
  
      &.Overdue {
        color: red;
        background-color: rgba(169, 0, 0, 0.149);
      }
    } 
  
    .type {
      padding: 5px;
      border-radius: 5px;
  
      &.Borrowed {
        color: red;
        background-color: rgba(189, 3, 3, 0.103);
      }
  
      &.Returned {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
    }
  
    .tableCell {
      border: 1px solid #e0e0e0;
      text-align: center;
      padding: 5px;
      font-size: smaller;
    }
  
    .column {
      border: 1px solid #e0e0e0;
      text-align: center;
      font-weight: bold;
      color: #343333;
      background-color: rgb(198, 198, 195);
      padding: 10px;
    }
  }
  